SESSION_ID="your_session_id"
BOT_INSTANCE_ID="your-instance-id"
BOT_NAME="KENTECH AI"
SUDO="your_whatsapp_number_with_country_code"
PREFIX="."
VPS="true"
AUTO_UPDATE="false"
DISABLE_START_MESSAGE="true"
AUTO_STATUS_VIEW="no-dl"
